.body-container {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
}

.side {
  min-width: 220px;
  margin-right: 20px;
  padding: 0 0 0 20px;
}

.stay-in-touch {
  margin-top: 20px;
  margin-bottom: 20px;
}

.main {
  padding: 0 20px;
}

.social-icons .linkedin .fa-circle {  color: #0177b5; }
.social-icons .gitub .fa-circle {  color: #999; }
.social-icons .twitter .fa-circle {  color: #55acee; }
.social-icons .rss .fa-circle {  color: #fc8f55; }
